/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Costum Style */

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255 255 255);
  font-family: "Raleway", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 2rem;
}

.width-full {
  width: 100%;
}

.fixed-position {
  position: fixed;
}

/* flex */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.item-end {
  align-items: end;
}

.item-center {
  align-items: center;
}

.flex20 {
  flex: 0 1 20%;
}

.flex25 {
  flex: 0 1 25%;
}

.flex30 {
  flex: 0 1 30%;
}

.flex35 {
  flex: 0 1 35%;
}

.flex40 {
  flex: 0 1 40%;
}

.flex48 {
  flex: 0 1 48%;
}

.flex50 {
  flex: 0 1 50%;
}

.flex60 {
  flex: 0 1 60%;
}

.flex100 {
  flex: 0 1 100%;
}

.wrap {
  flex-wrap: wrap;
}

/* padding */

.padding {
  padding: 2rem 0;
}

/* text */

.text-center {
  text-align: center;
}

/* Header */

.header {
  background-color: #ffffff;
  z-index: 2;
}

.brand {
  color: rgb(99 85 81);
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 800;
}

.navmenu li {
  margin-left: 1.5rem;
}

.navmenu li a {
  text-decoration: none;
  color: rgb(99 85 81);
}

.fa-angle-down {
  font-size: 1rem;
}

.navmenu li .active-nav {
  text-decoration: none;
  color: #ea5333;
}

.navmenu li :hover {
  color: #ea5333;
}

.sub-menu-box {
  position: relative;
}

.sub-menu {
  position: absolute;
  background-color: rgb(255 255 255);
  box-shadow: 0 0.2rem 0.3rem #bca4a0;
  width: 11rem;
  text-align: center;
  border-radius: 0.3rem;
  transform: translateX(-50%);
  left: 50%;
  display: none;
  top: 1.1rem;
  padding: 0.3rem;
}

.sub-menu li {
  margin-top: 1.2rem;
  margin-left: 0;
}

.sub-menu-box:hover .sub-menu {
  display: inline-block;
}

.inside-sub-menu-box {
  position: relative;
}

.inside-sub-menu {
  position: absolute;
  background-color: rgb(255 255 255);
  box-shadow: 0 0.1rem 0.2rem #bcaeab;
  width: 11rem;
  text-align: center;
  border-radius: 0.3rem;
  transform: translateX(50%);
  left: 30%;
  display: none;
  top: 1.5rem;
  padding: 0.3rem;
}

.inside-sub-menu li {
  margin-top: 1.2rem;
}

.inside-sub-menu-box:hover .inside-sub-menu {
  display: inline-block;
}

/* Main (Hero) */

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(media/hero-bg.jpg) no-repeat;
  flex: 0 1 100%;
  background-size: cover;
  height: 30rem;
}

.hero-bg-inside {
  margin-top: 5rem;
}

.hero-bg-inside h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255 255 255);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.hero-bg-inside span {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(255 255 255);
}

.hero-bg-inside .toggle {
  margin-top: 2.5rem;
  position: relative;
}

.hero-bg .toggle a i {
  width: 3rem;
  height: 3rem;
  background-color: #ea5333;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}

.toggle-btn {
  width: 12rem;
  position: absolute;
  z-index: 1;
}

.toggle-btn a {
  width: 10rem;
  height: 2rem;
  background-color: #584b49;
  font-size: 1.1rem;
  padding: 0.4rem;
  border-radius: 2rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: #ffffff;
}

.toggle-btn a:hover {
  color: #ec7048;
}

/* section2 */

.section2 {
  position: relative;
  height: 20rem;
}

.card-parent {
  position: relative;
  bottom: 10rem;
}

/* active card */

.active-card {
  background-color: #ea5333;
}

.active-card h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255 255 255);
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.active-card p {
  font-size: 1rem;
  color: rgb(255 255 255);
  padding: 1rem;
  line-height: 1.5;
}

.active-card div {
  padding-bottom: 1.5rem;
}

.active-card span {
  width: 12rem;
  height: 2rem;
  background-color: #ec7048;
  border-radius: 1rem;
}

.active-card span:hover {
  background-color: #e9c1b2;
}

.active-card a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255 255 255);
}

/* cards */

.card {
  background-color: rgb(255 255 255);
  border-radius: 0.5rem;
  box-shadow: 0.7rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4);
}

.card span {
  display: flex;
  justify-content: center;
}

.card span i {
  font-size: 2rem;
  padding-top: 1rem;
}

.card span h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #313030;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.card span p {
  font-size: 1rem;
  color: #313030;
  padding: 1rem;
  line-height: 1.5;
  text-align: center;
}

/* section3 */

.bg-image-about {
  background: url(media/about-img.jpg) no-repeat;
  flex: 0 1 40%;
  background-size: cover;
}

.fa-circle-play {
  font-size: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about {
  width: 100%;
  background-color: #fef9f7;
}

.about-img {
  width: 40%;
}

.about-txt {
  width: 58%;
}

.before-heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #554945;
  line-height: 1.5;
  margin-top: 4rem;
}

.about-txt h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #554945;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.about-txt p {
  font-size: 1rem;
  line-height: 1.3;
}

.finger-print {
  margin: 4rem 0;
}

.finger-print span {
  border: 0.1rem solid #deb4a6;
  background-color: #ffffff;
  border-radius: 50%;
}

.finger-print span:hover {
  background-color: #e3a08a;
  border-radius: 50%;
}

.finger-print span i {
  font-size: 2rem;
  padding: 0.8rem;
}

.finger-print div {
  margin-left: 2rem;
}

.finger-print div h5 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}

/* Section 4 (Client) */

.clients {
  background-color: #ffffff;
}

.clients div {
  overflow: auto;
}

.clients div a img {
  width: 10rem;
  margin-right: 5rem;
  filter: grayscale(100%);
}

.clients div a img:hover {
  filter: grayscale(0%);
}

/* Section 5 (Services) */

.service {
  width: 100%;
  background-color: #fef9f7;
}

.service article h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #554945;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.service article p {
  color: black;
  font-size: 1rem;
  line-height: 1.2;
}

/* Service Card */

.service-card-menu {
  margin-top: 4rem;
}

.service-card {
  background-color: rgb(255 255 255);
  box-shadow: 0.7rem 0.6rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 4rem;
}

.service-card span {
  width: 4rem;
  height: 4rem;
  background-color: #dd610e;
  border-radius: 50%;
  position: absolute;
  bottom: 10.5rem;
  right: 9.5rem;
  color: #ffffff;
}

.service-card span i {
  font-size: 2rem;
  padding: 0.9rem;
}

.service-card:hover > span {
  border: 0.2rem solid #dd610e;
  background-color: #ffffff;
}

.service-card:hover > span > .fa-solid,
.fa-regular {
  color: #dd610e;
}

.service-card:hover > h5 {
  color: #dd610e;
}

.service-card h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: black;
}

.service-card p {
  color: black;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

/* Section 6 (Company-future) */

.company-future {
  width: 100%;
  background-color: #ffffff;
  height: auto;
}

.bg-img-mission {
  background: url(media/values-1.jpg) no-repeat;
}

.bg-img {
  background-size: cover;
  height: 20rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0.9);
  height: 9rem;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  color: #554945;
}

.bg-transparent:hover {
  background: rgba(220, 96, 14, 1);
}

.bg-transparent:hover > * {
  color: #ffffff;
}

.bg-transparent i,
.bg-transparent a {
  color: inherit;
}

.bg-transparent h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.bg-transparent p {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.2;
}

.bg-transparent span {
  padding: 0 1rem;
}

.bg-transparent a {
  text-decoration: none;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.bg-img-plan {
  background: url(media/values-2.jpg) no-repeat;
}

.bg-img-vision {
  background: url(media/values-3.jpg) no-repeat;
}

.bg-img-care {
  background: url(media/values-4.jpg) no-repeat;
}

/* section7 (Testimonials) */

.testimonials-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(media/testimonials-bg.jpg) no-repeat fixed;
  /* background-size: cover; */
  height: 35rem;
  overflow: auto;
}

.testimonials-bg::-webkit-scrollbar {
  width: 0;
}

.testimonials-bg::-webkit-scrollbar-thumb {
  width: 0;
}

.testimonials-txt {
  flex: 0 0 100%;
  color: #ffffff;
}

.testimonials-txt span img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.3rem solid rgb(98 97 92);
  margin-bottom: 1rem;
}

.testimonials-txt h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.testimonials-txt span {
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.5;
}

.testimonials-txt div {
  margin-top: 2rem;
}

.testimonials-txt div i {
  font-size: 1.5rem;
}

.testimonials-txt div p {
  display: inline;
  line-height: 1.5;
}
